/*base style sheet for component skinning*/
voya-table{
  font-family: Arial;
  font-size: 12px;
  display: table;
  width:100%;
  border-bottom:1px solid #aaa;
  .deep-ui-voya-table{
    color:#666;
    display: table-cell;
  }
  .voya-table-column-wrapper{
    .voya-table-column-row{
      display:table-row;
      width:100%;
    }
    width:100%;
    position:relative;
    display: table;
    min-height: 30px;
  }
  .voya-table-rows-wrapper{
    position:relative;
    display:table;
    width:100%;
  }
  &.mobile{
    .deep-ui-voya-table {
      background: transparent;
    }
  }
  .voya-table-rows-wrapper {
    overflow-y: auto;
  }
  &.voya-table--pause-scroll {
    .voya-table-rows-wrapper {
      overflow-y: hidden;
    }
  }

  @media screen and (min-width: 769px) {
    &.hasOverflowContent {
      .voya-table-column-wrapper {
        width: calc(100% - 16px);
      }
    }
  }
}
