.voya-col-sort{ width: 0;
  padding:0px !important;
}
.voya-col-sort.ASC{ width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 4px 8px 4px;
  box-shadow: 0px 1px 0px rgba(0,0,0,0.45);
  border-color: transparent transparent #999999 transparent;
}
.voya-col-sort.DESC{
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 8px 4px 0px 4px;
  box-shadow: 0px -1px 0px rgba(0,0,0,0.45);
  border-color: #999999 transparent transparent transparent;
}
.orange .voya-col-sort.DESC{
  border-color: #B04F07 transparent transparent transparent;
}
.orange .voya-col-sort.ASC{
  border-color: transparent transparent #B04F07 transparent;
}